<!DOCTYPE html>
<html>
  <head>
    <title>Aussie Slang Generator</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style.css">

    <meta name="title" content="Aussie Slang Generator">
    <meta name="description" content="Generates real, true blue, Strine sayings that will impress and amaze your friends.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://aussie-slang-generator.herokuapp.com/">
    <meta property="og:title" content="Aussie Slang Generator">
    <meta property="og:description" content="Generates real, true blue, Strine sayings that will impress and amaze your friends.">
    <meta property="og:image" content="https://aussie-slang-generator.herokuapp.com/strine.webp">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://aussie-slang-generator.herokuapp.com/">
    <meta property="twitter:title" content="Aussie Slang Generator">
    <meta property="twitter:description" content="Generates real, true blue, Strine sayings that will impress and amaze your friends.">
    <meta property="twitter:image" content="https://aussie-slang-generator.herokuapp.com/strine.webp">
  </head>
  <body>
    <header>
      <h1>Aussie slang generator</h1>
    </header>
    <main>
      <button type="button" id="gen-btn">Generate Aussie slang!</button>
      <br />
      <br />
  
      <div id="resultsContainer">
        <span id="results">✒️</span>
      </div>
    </main>
    <footer>
      <script type="text/javascript" src="/client.js"></script>
    </footer>
  </body>
</html>


