<!DOCTYPE html>
<html>
  <head>
    <title>Aussie Slang Generator</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <header>
      <h1>Aussie slang generator</h1>
    </header>
    <main>
      <button type="button" id="gen-btn">Generate Aussie slang!</button>
      <br />
      <br />
  
      <div id="resultsContainer">
        <span id="results">✒️</span>
      </div>
    </main>
    <footer>
      <script type="text/javascript" src="/client.js"></script>
    </footer>
  </body>
</html>


